body{
    background-color: aquamarine;
}
img{
    transition: filter 1s;
   /* filter: blur(20px);*/
   filter: hue-rotate(0deg);
}
img:hover{
   /* filter: grayscale(50%)*/
   filter: blur(0px);
   filter: hue-rotate(360deg);
}